body {
  background-color: #30b4f2;
}

/* .card {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 800px;
  padding: 10px;
  background-color: white;
}

.card-avatar {
  margin-right: 20px;
  border-radius: 20px;
}

.card-info span {
  color: darkgray;
  font-size: medium
}

li {
  list-style: none;
}

i {
  padding-right: 60px;
} */
